<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="false"
            android:icon="@drawable/icon_tetris"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon_tetris_round"
            android:supportsRtl="false"
            android:theme="@style/Theme.ComposeTetris"
            tools:ignore="DataExtractionRules">
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation|uiMode|locale|layoutDirection"
                android:exported="true"
                android:screenOrientation="portrait"
                tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>