name: Build & Release

on:
  push:
    branches: [ master ]
    paths:
      - "**/workflows-trigger.properties"

permissions:
  contents: write

jobs:
  get-time:
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.time.outputs.formattedTime }}
    steps:
      - id: time
        uses: josStorer/get-current-time@v2
        with:
          format: YYYY.MM.DD
          utcOffset: "+08:00"

  build-and-package:
    needs: get-time
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: windows-x64
          - os: ubuntu-latest
            platform: linux-x64
          - os: macos-15-intel
            platform: mac-x64
          - os: macos-latest
            platform: mac-arm64
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.platform }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "zulu"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Package Release Distribution
        run: ./gradlew packageReleaseDistributionForCurrentOS

      - if: matrix.os == 'ubuntu-latest'
        name: Assemble Android Release
        run: ./gradlew assembleRelease

      - name: Rename and Prepare Artifacts
        shell: bash
        run: |
          OUT_DIR="composeApp/build/compose/binaries/main-release"
          mkdir -p ./ready-to-upload
          
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            mv $OUT_DIR/exe/*.exe ./ready-to-upload/compose-multiplatform-tetris-${{ matrix.platform }}.exe
            7z a -tzip ./ready-to-upload/compose-multiplatform-tetris-${{ matrix.platform }}.zip ./$OUT_DIR/app/*
          
          elif [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            mv $OUT_DIR/rpm/*.rpm ./ready-to-upload/compose-multiplatform-tetris-${{ matrix.platform }}.rpm
            mv $OUT_DIR/deb/*.deb ./ready-to-upload/compose-multiplatform-tetris-${{ matrix.platform }}.deb
            mv androidApp/build/outputs/apk/release/*.apk ./ready-to-upload/compose-multiplatform-tetris-android.apk
          
          else
            mv $OUT_DIR/dmg/*.dmg ./ready-to-upload/compose-multiplatform-tetris-${{ matrix.platform }}.dmg
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ matrix.platform }}
          path: ./ready-to-upload/*
          retention-days: 1

  release:
    needs: [ get-time, build-and-package ]
    runs-on: ubuntu-latest
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v7
        with:
          path: ./release-artifacts
          pattern: artifacts-*
          merge-multiple: true

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          generateReleaseNotes: false
          artifactErrorsFailBuild: true
          body: "Auto-generated multi-platform release."
          artifacts: "./release-artifacts/*"
          tag: ${{ needs.get-time.outputs.release_tag }}
          name: ${{ needs.get-time.outputs.release_tag }}
          token: ${{ secrets.GITHUB_TOKEN }}